{% extends "base.html" %}
{% block title %}Userlist{% endblock %}
{% block content %}
    <a href="{{url_for('index')}}">Indexへ</a>
    <h1>フィルタリング</h1>
    <p>最初の人：{{users | first}}</p>
    <p>最後の人：{{users | last}}</p>
    <p>ソート：{{users | sort |first}}</p>
    <p>ランダム：{{users | random}}</p>
    <hr>
    <h2>逆順</h2>
    <ul>
    {%for user in users|reverse %}
        <li>{{ user | reverse_name }}</li>
    {% endfor %}
    <p>リストの長さ：{{users | length}}</p>
    <p>Trim:{{'  vkjhb  ' | trim}}</p>
    </ul>
    <hr>
    {%for user in users %}
    {{loop.length}}
    {% endfor %}
    <hr>
    <ul>
    {%for user in users %}
        {% if user=="taro" %}
            <p>たろーですね</p>
        {% endif %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
    {% if is_login %}
        <p>ログインしてるよ</p>
    {% else %}
        <p>ログインしてないよ</p>
    {% endif %}

    {% if "takuro" in users %}
        <p>たくろーいるよ</p>
    {% else %}
        <p>たくろーいないよ</p>
    {% endif %}
{% endblock %}